body{
    background-color:#50D8D7;
    font-family: Tahoma;
}

table{
    background-image: linear-gradient(#547AA5, rgb(106, 161, 106));
}
header{
    display:block;
    margin-left: auto;
    margin-right:auto;
    height: 150px;
    width:1000px;
    border:solid rgb(68, 107, 139) 15px;
    border-radius: 4500px;
    padding:10px;
    background-image: linear-gradient(rgb(106, 161, 106), #547AA5);

   
}
#HeadsUp{
    display: block;
    font-size: 55px;
    font-family:Tahoma;
    line-height: 25px;
    color:white;
}

h3{
    display: block;
    width:400px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(#547AA5, rgb(106, 161, 106));
    text-align:center;
    font-size: 35px;
    border: solid rgb(68, 107, 139) 10px;
    border-radius: 75px 20px 75px 20px;
    padding:20px;
}

p{
    text-align:center;
    font-size:25px;
}

img {
    display: block;
    margin-left:auto;
    margin-right: auto;
    height: 250px;
    width:250px;
    border: solid #547AA5 10px;
    border-radius:35px;
}

.tableimg{
    display: block;
    padding: 3px;
    margin-left:auto;
    margin-right: auto;
    height: 180px;
    width:140px;
    border: solid #547AA5 3px;
    border-radius:40px;

}


table,td,tr,th{
    table-layout: auto;
    width:auto;
    border: solid rgb(58, 38, 2) 2px;
    border-radius: 15px;
    font-family: Helvetica;
    font-size: 20px;
    text-align: center;
}

table{
    margin-left: auto;
    margin-right: auto;
}
td{
    width: 260px;
    background-color: rgb(96, 190, 159);
}
th{
    background-color: aquamarine;
    border-radius: 45px;
}

